@model InventoryManagement.Models.Facility
@{
    ViewBag.Title = "Browse";
}

<h2>Browse</h2>

<table class="table table-striped table-light">
    <tr>
        <th>
            Resource
        </th>
        <th>
            Quantity
        </th>
        <th>
            Size
        </th>
        <th>
            Description
        </th>
        <th>
            Color
        </th>
        <th>
            Changed
        </th>
        <th>
            Previous Value
        </th>
        <th></th>
    </tr>

    @foreach (var res in Model.Resources)
    {
    <tr>
        <td>
            @res.ResourceName
        </td>
        <td>
            @res.Quantity
        </td>
        <td>
            @res.Size
        </td>
        <td>
            @res.Description
        </td>
        <td>
            @res.Color
        </td>
        <td>
            @res.Changed
        </td>
        <td>
            @{
                
                @res.PreviousValue
            }


        </td>
        <td>
            @Html.ActionLink("Edit", "EditFacilityResource", "Facilities", new { id = res.ResourceId }, new { @class = "btn btn-outline-warning" })
        </td>
    </tr>

    }
</table>

